

<input class="form-control" type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchChange()" placeholder="Search" aria-label="Search">

<!-- 
<input class="form-control" type="text" [value]="searchText" placeholder="Search" aria-label="Search">
-->

<!-- This is the way to do two way data binding without ngModel -->
<!--
<input class='form-control' type='text' [value]="searchText" (input) = "onSearchChangeTest($event.target.value)" placeholder="Search" aria-label="Search">
<p>{{searchText}}</p>
-->

