<div class="desktop">
  <table class="table table-striped desktop">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
        <th scope="col">In Stock</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of resultsShowing| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td class="align-middle">{{ product.name}}</td>
        <td class="align-middle">{{ product.size}}</td>
        <td class="align-middle">{{ product.price}}</td>
        <td class="align-middle">{{ product.instock}}</td>
        
        <td>
          <a class="btn btn-info" href="{{product.link}}">view product</a>
        </td>
        <td>
          <a class="btn btn-info" (click)=buyClick()>BUY</a>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="numResults"></ngb-pagination>
</div>

<div class="mobile">
  <table class="table table-striped">
  <tbody>
    <tr *ngFor="let product of resultsShowing" (click)="goToLink(product.link)" class="product-listing">
      <div class="spec">{{ product.name}}</div>
      <div class="spec">Size: {{product.size}}</div>
      <div class="spec">Price: {{ product.price}}</div>
      <div class="spec">In Stock: {{product.instock}}</div>
    </tr>
  </tbody>
</table>
</div>


