<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Price</th>
      <th scope="col">In Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of resultsShowing| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
      <td >{{ product.name}}</td>
      <td >{{ product.size}}</td>
      <td >{{ product.price}}</td>
      <td >{{ product.instock}}</td>
    </tr>
  </tbody>
</table>

<ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="numResults"></ngb-pagination>
