/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'jasmine-core/lib/jasmine-core/jasmine.css';

$breakpoint-tablet: 750px;


.mobile{
  display:none;
}



@media(max-width: $breakpoint-tablet){
  .desktop{
    display:none;
  }

  .mobile{
    display: block;

    .product-listing{
      cursor: pointer;

      .spec{
        padding-bottom:5px;
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
      }

      .spec:first-child {
        padding-bottom:5px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
      }

    }
  }
}

